<!DOCTYPE html>
<html>
  <head>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    <h2>Books List</h2>

    <table id="table1">
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>publisher</th>
      </tr>
      <tr>
        <td>sdfs</td>
        <td>sdfs</td>
        <td>sdfs</td>
      </tr>
      <tr>
        <td>sdfs</td>
        <td>sdfs</td>
        <td>sdfs</td>
      </tr>
    </table>
  </body>
</html>
